<div ng-if="items.length > 0">
    <div ng-init="item=get_selected_item()">
        <h1>{{item.label}} ({{item.item_id}})</h1>
        <div>
            <div class="row">
                <div class="col-md-1"><strong>First Date</strong></div>
                <div class="col-md-3">
                    {{item.first_date.format('YYYY-MM-DD HH:mm:ss')}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"><strong>Last Date</strong></div>
                <div class="col-md-3">
                    {{item.last_date.format('YYYY-MM-DD HH:mm:ss')}}
                </div>
            </div>
                   <div class="row">
                <div class="col-md-1"><strong>Duration</strong></div>
                <div class="col-md-3">
                    {{ item.duration.humanize() }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"><strong>Item Name</strong></div>
                <div class="col-md-3">
                    {{item.item_name}}
                </div>
            </div>
        </div>
        <div>
            <h4>Charts</h4>
             <ul>
                 <li ><a href="#!/item/{{item.item_id}}/range">Range</a></li>
                 <li><a href="#!/item/{{item.item_id}}/events">Events</a></li>
                 <li><a href="#!/item/{{item.item_id}}/annotation">Annotation</a></li>
             </ul>
        </div>
    </div>
    <h2>Annotations</h2>
    <div ng-init="loadAnnotation(item.first_date, item.last_date)">

        <div class="col-lg-6">
            <table class="table table-striped table-hover">
                <th>Label</th>
                <th>Start Date</th>
                <th>Stop Date</th>
                <th>Duration</th>
                <tr ng-repeat="annotation in annotation_data | toArray | orderBy:'start_date'" ng-click="gotoAnnotation(item.item_id, annotation.start_date, annotation.stop_date)">
                    <td>
                        <div>{{annotation_labels[annotation.label_id].text}}</div>
                    </td>
                    <td>
                        <div>{{annotation.start_date | formatDate}}</div>
                    </td>
                    <td>
                        <div>{{annotation.stop_date | formatDate}}</div>
                    </td>
                    <td>
                        <div>{{ annotation.duration.humanize() }}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2">
            <table class="table table-striped">
                <th>Labels</th>
                <th>Description</th>
                <th>Count</th>
                <th></th>
                <tr ng-repeat="label in annotation_labels | toArray | orderBy:'text'" ng-class="{'warning':label.id == undefined}">
                    <td class="col col-md-7">
                        <div editable-text="label.text" e-form="rowform" e-required>{{label.text}}</div>
                    </td>
                    <td class="col col-md-7">
                        <div editable-text="label.description" e-form="rowform" e-required>{{label.description}}</div>
                    </td>
                    <td>
                        {{ labelCount(label.id) }}
                    </td>
                    <td style="white-space: nowrap" class="col col-md-1">
                        <form editable-form name="rowform" onbeforesave="saveAnnotationLabel(label)" ng-show="rowform.$visible" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary glyphicon glyphicon-ok">
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default glyphicon glyphicon-remove">
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button type="button" class="btn btn-primary glyphicon glyphicon-pencil" ng-click="rowform.$show()"></button>
                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteAnnotationLabel(label)"></button>
                        </div>
                    </td>
                </tr>
            </table>

                    <button type="button" class="btn btn-default glyphicon glyphicon-plus" ng-click="addAnnotationLabel()"></button>

        </div>
    </div>
</div>
